{% extends 'base.html.twig' %}

{% block title %}Mon espace !{% endblock %}

{% block body %}
    <section class="bg-white w-full">
        <div class="flex justify-end bg-blue2 w-full h-25 pt-48 shadow-lg">
            <div class="w-4/5 flex justify-between pb-8">
                <div>
                    <h1 class="text-5xl font-medium">{{ app.user.username }}</h1>
                </div>
                <div class="mx-32">
                    <a href="#" class="italic">Modifier ma bannière</a>
                </div>
            </div>
        </div>
        <div class="absolute left-14 top-64">
            {% if app.user.ProfilePicture %}
                <img height="300" width="300" src="{{ asset('uploads/user/avatar/' ~ app.user.ProfilePicture) }}" alt="{{ app.user.username }}" class="object-cover rounded-full shadow-lg"/>
            {% else %}
                <img height="300" width="300" src="{{ asset('assets/media/img/user.svg') }}" alt="Avatar de {{ app.user.username }}"  class=" object-cover rounded-full shadow-lg"/>
            {% endif %}
        </div>
        <div class="flex justify-end pt-2 px-2">
            <div class="w-4/5">
                {% if app.user.description %}
                <p class="text-xl text-gray-800">{{ app.user.description }} <a href="#" class="italic text-base">Modifier ma description</a></p>
                {% else %}
                <p class="text-xl text-gray-800">Ceci est la description de votre nouveau profil utilisateur ! <a href="#" class="italic text-base">Modifier ma description</a></p>
                {% endif %}
            </div>
        </div>
        <div class="w-full mt-20 px-24">
            <div class="w-full flex justify-center">
                <div class="w-3/5 bg-blue1 h-px"></div>
            </div>
            <div class="flex justify-center mt-8">
                <div class="w-2/5 py-3 px-5 border border-blue1 shadow-lg">
                    {% if app.user.identityCardLocation is empty %}
                        {{ form_start(userCardForm) }}
                            <div>
                                <p class="text-center font-bold text-red-600">Vous n'avez pas encore vérifié votre identité !</p>
                                <div>
                                    <h1 class="underline text-center mt-2">Afin d'obtenir un statut validé :</h1>
                                    <p class="italic my-2 text-center">Vous pouvez déposer un justificatif permettant de vérifier votre nom prénom et adresse</br> Documents acceptés : Carte d'identité, Permis et Passeport.</p>
                                </div>
                                <div class="flex justify-center mt-5 mb-5">
                                    <div class="w-2/3 flex justify-center">
                                        {{ form_row(userCardForm.identityCardLocation) }}
                                    </div>
                                </div>
                                <div class="flex justify-center">
                                    <a class="w-2/6 btn py-1 bg-blue1 text-white rounded cursor-pointer object-cover border border-2 border-blue1">
                                        {{ form_row(userCardForm.submit) }}
                                    </a>
                                </div>
                            </div>
                        {{ form_end(userCardForm) }}
                    {% else %}
                        <div>
                            <p class="text-center font-bold text-green-600">Votre justificatif est en cours de traitement</p>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="w-full mt-14">
                <!-- Informations Utilisateur -->
                <div class="w-full border border-blue1 py-6 px-10 mx-2 shadow-lg">
                    <h2 class="text-blue1 font-bold text-xl">Vos informations utilisateur :</h2>
                    <div class="flex w-full">
                        <div class="w-1/2 mr-10">
                            <p class="font-semibold text-gray-700 mt-4 mb-1">Prénom :</p>
                            <p class="text-black border border-blue1 py-1 px-1">{{ app.user.FirstName|capitalize }}</p>
                        </div>
                        <div class="w-1/2">
                            <p class="font-semibold text-gray-700 mt-4 mb-1">Nom :</p>
                            <p class="text-black border border-blue1 py-1 px-1">{{ app.user.LastName|capitalize }}</p>
                        </div>
                    </div>

                    <div class="flex w-full">
                        <div class="w-1/2 mr-10">
                            <p class="font-semibold text-gray-700 mt-4 mb-1">Mail :</p>
                            <p class="text-black border border-blue1 py-1 px-1">{{ app.user.email }}</p>
                        </div>
                        <div class="w-1/2">
                            <p class="font-semibold text-gray-700 mt-4 mb-1">Téléphone :</p>
                            <p class="text-black border border-blue1 py-1 px-1">{{ app.user.phonenumber }}</p>
                        </div>
                    </div>

                    <div class="flex w-full">
                        <div class="w-1/2 mr-10">
                            <p class="font-semibold text-gray-700 mt-4 mb-1">Ville :</p>
                            <p class="text-black border border-blue1 py-1 px-1">{{ app.user.city }}</p>
                        </div>
                        <div class="w-1/2">
                            <p class="font-semibold text-gray-700 mt-4 mb-1">Code Postal :</p>
                            <p class="text-black border border-blue1 py-1 px-1">{{ app.user.postalcode }}</p>
                        </div>
                    </div>

                    <div class="flex w-full">
                        <div class="w-full">
                            <p class="font-semibold text-gray-700 mt-4 mb-1">Adresse :</p>
                            <p class="text-black border border-blue1 py-1 px-1">{{ app.user.address }}</p>
                        </div>
                    </div>

                    <div class="w-full flex justify-center mt-10">
                        <button class="w-1/3 btn py-1 bg-blue1 text-white rounded cursor-pointer object-cover border border-2 border-blue1">Modifier les informations</button>
                    </div>
                </div>

                <!-- Ressources Récentes & Accès au panel -->

                <div class="w-full border border-blue1 bg-blue1 py-2 px-10 mx-2 mt-8 shadow-lg">
                    <h2 class="text-white font-bold text-xl">Vos ressources récentes :</h2>
                </div>

                <!-- Dernières ressources à ajouter -->

                <div class="w-full flex justify-items-center py-2 px-10 mx-2 mt-4">
                    <a href="{{ path('user_publication') }}" class="mx-auto w-1/6 cursor-pointer flex object-cover object-top items-center text-main-blue border border-2 border-blue1 font-bold transition-all duration-500 justify-center text-blue1 hover:border-white hover:text-white hover:bg-blue1 w-full  py-2 leading-6 bg-white rounded-lg"> Gérer mes ressources </a>
                    <a href="{{ path('add_publication') }}" class="mx-auto w-1/6 cursor-pointer flex object-cover object-top items-center text-main-blue border border-2 border-blue1 font-bold transition-all duration-500 justify-center text-blue1 hover:border-white hover:text-white hover:bg-blue1 w-full  py-2 leading-6 bg-white rounded-lg"> Ajouter une ressource </a>
                    <a href="{{ path('evenements') }}" class="mx-auto w-1/6 cursor-pointer flex object-cover object-top items-center text-main-blue border border-2 border-blue1 font-bold transition-all duration-500 justify-center text-blue1 hover:border-white hover:text-white hover:bg-blue1 w-full  py-2 leading-6 bg-white rounded-lg"> Gérer mes événements </a>
                    <a href="{{ path('create_event') }}" class="mx-auto w-1/6 cursor-pointer flex object-cover object-top items-center text-main-blue border border-2 border-blue1 font-bold transition-all duration-500 justify-center text-blue1 hover:border-white hover:text-white hover:bg-blue1 w-full  py-2 leading-6 bg-white rounded-lg"> Ajouter un événement </a>
                </div>


                <!-- Liste d'amis & Invitations-->

                <div class="w-full border border-blue1 py-6 px-10 mx-2 mt-8 shadow-lg mb-10">
                    <h2 class="text-blue1 font-bold text-xl">Votre liste d'amis :</h2>

                    <!-- Derniers amis ajoutés -->

                    <div class="flex justify-end">
                        <a href="{{path('user_friend_list')}}" class="italic text-gray-800 text-base">Voir plus...</a>
                    </div>

                    <div class="w-1/6 flex justify-start">
                        <a href="{{path('user_invitations')}}" class="mx-auto w-full cursor-pointer flex object-cover object-top items-center text-main-blue border border-2 border-blue1 font-bold transition-all duration-500 justify-center text-blue1 hover:border-white hover:text-white hover:bg-blue1 py-1 leading-6 bg-white rounded-lg"> Vos demandes d'amis (1) </a>
                    </div>

                </div>

            </div>

        </div>
    </section>
{% endblock %}