{% extends 'base.html.twig' %}

{% block title %}Amis !{% endblock %}

{% block body %}

    <section class="w-full">
        <div class="w-full h-1/5 bg-blue1 shadow-lg py-16">
            <h1 class="text-center font-bold text-5xl text-white">Votre liste d'amis</h1>
            <div class="mx-auto h-px w-40 bg-white mt-8"></div>
        </div>
        <div class="flex">
            <div class="w-3/12 min-h-screen bg-blue2 border-blue1 border-r">
                <div class="w-full">
                    {% include "partials/siderbar.html.twig" %}
                </div>
            </div>
            <div class="w-full px-10">
                <div class="flex flex-wrap mt-10">
                    {% for friend in userFriend|slice(0, 3) %}
                        {% if friend.userReceive.username != app.user.username %}
                            <div class="flex w-4/12">
                                <div class="flex w-11/12 border border-blue1 shadow-lg px-5 py-5 mt-5">
                                    <div class="w-1/3">
                                        {% if friend.userReceive.ProfilePicture %}
                                            <div class="rounded-full" style="height: 150px; width: 150px;">
                                                <img src="{{ asset('uploads/user/avatar/' ~ friend.userReceive.ProfilePicture) }}" alt="Avatar de {{ friend.userReceive.username }}" class="rounded-full shadow-lg" style="height: 150px; width: 150px;"/>
                                            </div>
                                        {% else %}
                                            <div class="rounded-full" style="height: 150px; width: 150px;">
                                                <img src="{{ asset('assets/media/img/user.svg') }}" alt="Avatar de {{ friend.userReceive.username }}"  class="rounded-full shadow-lg" style="height: 150px; width: 150px;"/>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="w-2/3 pt-2">
                                        <div class="flex justify-start text-blue1 text-xl font-bold ml-6">
                                                <a target="_blank" rel="noreferrer noopener" href="{{ path('profile_view', {'username': friend.userReceive.username }) }}">
                                                    {{friend.userReceive.username}}
                                                </a>
                                        </div>
                                        <div class="flex justify-start italic text-grey4 text-xl font-bold ml-5">
                                            <p class="px-1">( {{friend.userReceive.firstname}}</p>
                                            <p>{{friend.userReceive.lastname}} )</p>
                                        </div>
                                        <div class="flex justify-start mt-10 ml-2">
                                            <a onclick="confirm('Supprimer cet utilisateur à vos amis ?')" class="ml-2" href="{{ path('user_delete_friend', {'idRelationShip': friend.id }) }}">
                                                <i class="w-1/12 py-1 fas fa-user-minus pr-4 px-2"></i>
                                                <span class="w-9/12 pl-2">Retirer de vos amis</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elseif friend.userSender.username != app.user.username %}
                            <div class="flex w-4/12">
                                <div class="flex w-11/12 border border-blue1 shadow-lg px-5 py-5 mt-5">
                                    <div class="w-1/3">
                                        {% if friend.userSender.ProfilePicture %}
                                            <div class="rounded-full" style="height: 150px; width: 150px;">
                                                <img src="{{ asset('uploads/user/avatar/' ~ friend.userSender.ProfilePicture) }}" alt="{{ friend.userSender.username }}" class="rounded-full shadow-lg" style="height: 150px; width: 150px;"/>
                                            </div>
                                        {% else %}
                                            <div class="rounded-full" style="height: 150px; width: 150px;">
                                                <img src="{{ asset('assets/media/img/user.svg') }}" alt="Avatar de {{friend.userSender.username }}"  class="rounded-full shadow-lg" style="height: 150px; width: 150px;"/>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="w-2/3 pt-2">
                                        <div class="flex justify-start text-blue1 text-xl font-bold ml-6">
                                                <a target="_blank" rel="noreferrer noopener" href="{{ path('profile_view', {'username': friend.userSender.username }) }}">
                                                    {{friend.userSender.username}}
                                                </a>
                                        </div>
                                        <div class="flex justify-start italic text-grey4 text-xl font-bold ml-5">
                                            <p class="px-1">( {{friend.userSender.firstname}}</p>
                                            <p>{{friend.userSender.lastname}} )</p>
                                        </div>
                                        <div class="flex justify-start mt-10 ml-2">
                                            <a onclick="confirm('Supprimer cet utilisateur à vos amis ?')" class="ml-2" href="{{ path('user_delete_friend', {'idRelationShip': friend.id }) }}">
                                                <i class="w-1/12 py-1 fas fa-user-minus pr-4 px-2"></i>
                                                <span class="w-9/12 pl-2">Retirer de vos amis</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% for message in app.flashes('success') %}
                        <div class="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('Erreur') %}
                        <div class="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

