{% extends 'base.html.twig' %}

{% block title %}Messenger !{% endblock %}

{% block body %}
    <div class="flex w-full mt-10 mx-auto">
        <div class="w-2/12 border ">
            <table class="mx-auto w-full">
                <thead>
                    <tr class="font-extrabold tracking-wide text-left uppercase border-b bg-blue1 text-black dark:text-white">
                        <th colspan="2" class="px-4 py-3">Discussions</th>
                        <th>
                            <a class="px-4 py-3" href="{{path('user_manage_groups')}}"><i class="fas fa-users pr-4"></i></a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for friends in userFriends %}
                        <tr>
                            <td colspan="3">    
                                {% if friends.userSender.id != app.user.id %}
                                    <a class="px-4 py-3" href="{{ path('user_send_message', {'id': friends.userSender.id}) }}">
                                        {{friends.userSender.username}}
                                    </a>
                                {% elseif friends.userReceive.id != app.user.id %}
                                    <a class="px-4 py-3" href="{{ path('user_send_message', {'id': friends.userReceive.id}) }}">
                                        {{friends.userReceive.username}}
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="w-8/12 border">
            <div class="mb-0 w-full">
                {{ form_start(messageForm) }}
                <div class="flex">
                    <div class="w-8/12">
                        {{ form_row(messageForm.content) }}
                    </div>
                    <div class="w-8/12">
                        {{ form_row(messageForm.submit) }}
                    </div>
                </div>
                {{ form_end(messageForm) }}
            </div>
        </div>
    </div>
{% endblock %}