<div class="flex flex-col w-full bg-white border-b-2 border-grey4">
    <div class="w-full mx-auto px-4">
        <div class="flex w-full">
            <div class="flex space-x-7 w-full">
                <!-- Logo -->
                <div>
                    <a href="#" class="flex items-center py-4 md:px-2">
                        <h1 class="text-main-white lg:text-xl xl:text-2xl">Plateforme du gouvernement</h1>
                    </a>
                </div>
                <!-- Menu -->
                    <div class="hidden lg:flex items-center lg:pl-10 xl:pl-60 lg:space-x-0.5 xl:space-x-2">
                        <a class="md:p-2 lg:px-4 hidden md:block lg:text-sm xl:text-xl uppercase px-4 py-1 " href="{{ path('homepage') }}" title="Accueil">Accueil</a>
                        <a class="md:p-2 lg:px-4 hidden md:block lg:text-sm xl:text-xl uppercase px-4 py-1 " href="{{ path('homepage') }}" title="">Les Ressources</a>
                        <a class="md:p-2 lg:px-4 hidden md:block lg:text-sm xl:text-xl uppercase px-4 py-1 " href="{{ path('concept') }}" title="Notre concept">Notre Concept</a>
                        <a class="md:p-2 lg:px-4 hidden md:block lg:text-sm xl:text-xl uppercase px-4 py-1 " href="{{ path('contact') }}" title="Contact">Contact</a>
                    </div>
                    <div class="flex justify-center items-center space-x-2 pl-72">
                        {% if app.user %}
                            <a class="hover:text-main-white bg-main-light-blue rounded-md px-6 py-3 hover:bg-main-blue text-main-blue transition-all duration-500 border border-main-blue hover:border-main-white" href="{{ path('homepage') }}">Mon espace</a>
                            <a class="text-main-white bg-main-blue rounded-md px-6 py-3 hover:bg-main-light-blue hover:text-main-blue transition-all duration-500 border border-main-white hover:border-main-blue" href="{{ path('homepage') }}">Me déconnecter</a>
                        {% else %}
                            <a class="text-main-white bg-main-blue rounded-md px-6 py-3 hover:bg-main-light-blue hover:text-main-blue transition-all duration-500 border border-main-white hover:border-main-blue" href="{{ path('homepage') }}">M'inscrire</a>
                            <a class="hover:text-main-white bg-main-light-blue rounded-md px-6 py-3 hover:bg-main-blue text-main-blue transition-all duration-500 border border-main-blue hover:border-main-white" href="{{ path('homepage') }}">Me connecter</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>


