<div class="flex flex-col h-14 w-full bg-white pt-1 shadow-lg">
    <div class="w-full mx-auto px-4">
        <div class="flex w-full">
            <div class="flex space-x-7 w-full justify-between">
                <!-- Menu -->
                <div class="hidden lg:flex items-center lg:pl-10 xl:pl-30 lg:space-x-0.5 xl:space-x-2">
                    <a class="md:p-2 lg:px-4 hidden md:block lg:text-sm xl:text-xl uppercase px-4 py-1 " href="{{ path('homepage') }}" title="Accueil">Accueil</a>
                    <a class="md:p-2 lg:px-4 hidden md:block lg:text-sm xl:text-xl uppercase px-4 py-1 " href="{{ path('publication') }}" title="">Les Ressources</a>
                    <a class="md:p-2 lg:px-4 hidden md:block lg:text-sm xl:text-xl uppercase px-4 py-1 " href="{{ path('evenements') }}" title="">Les Évenements</a>
                    <a class="md:p-2 lg:px-4 hidden md:block lg:text-sm xl:text-xl uppercase px-4 py-1 " href="{{ path('concept') }}" title="Notre concept">Notre Concept</a>
                    <a class="md:p-2 lg:px-4 hidden md:block lg:text-sm xl:text-xl uppercase px-4 py-1 " href="{{ path('contact') }}" title="Contact">Contact</a>
                </div>
                <div class="flex justify-end items-center space-x-2 w-1/4 py-2">
                    {% if app.user %}
                        <a class="hover:text-main-white bg-main-light-blue rounded-md px-6 py-1 hover:bg-main-blue text-main-blue transition-all duration-500 border border-main-blue hover:border-main-white mx-2" href="{{ path('profile') }}">Mon espace</a>
                        <a class="text-main-white bg-main-blue rounded-md px-6 py-1 hover:bg-main-light-blue hover:text-main-blue transition-all duration-500 border border-main-white hover:border-main-blue mx-2" href="{{ path('app_logout') }}">Me déconnecter</a>
                    {% else %}
                        <a class="text-main-white bg-main-blue rounded-md px-6 py-1 hover:bg-main-light-blue hover:text-main-blue transition-all duration-500 border border-main-white hover:border-main-blue mx-2" href="{{ path('app_register') }}">M'inscrire</a>
                        <a class="hover:text-main-white bg-main-light-blue rounded-md px-6 py-1 hover:bg-main-blue text-main-blue transition-all duration-500 border border-main-blue hover:border-main- mx-2" href="{{ path('app_login') }}">Me connecter</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


