<div class="bg-blue2">
    <div>
        <ul>
            <li class="py-3 hover:bg-blue1 hover:text-white hover:font-bold pl-5">
                <a href="{{path('profile')}}" class="text-xl flex justify-center">
                    <i class="w-2/12 py-1 fas fa-user border-r-2 border-black pr-4"></i>
                    <span class="w-9/12 pl-2">Profil</span>
                </a>
            </li>
            <li class="py-3 hover:bg-blue1 hover:text-white hover:font-bold pl-5">
                <a href="{{path('user_friend_list')}}" class="text-xl flex justify-center" >
                    <i class="w-2/12 py-1 fas fa-users border-r-2 border-black pr-4"></i>
                    <span class="w-9/12 pl-2">Gestion des amis</span>
                </a>
            </li>
            <li class="py-3 hover:bg-blue1 hover:text-white hover:font-bold pl-5">
                <a href="{{path('user_invitations')}}" class="text-xl flex justify-center" >
                    <i class="w-2/12 py-1 fas fa-user-plus border-r-2 border-black pr-4"></i>
                    <span class="w-9/12 pl-2">Demandes d'amis</span>
                </a>
            </li >
            <li class="py-3 hover:bg-blue1 hover:text-white hover:font-bold pl-5">
                <a href="" class="text-xl flex justify-center">
                    <i class="w-2/12 py-1 fas fa-ghost border-r-2 border-black pr-4"></i>
                    <span class="w-9/12 pl-2">Correspondants bloqués</span>
                </a>
            </li>
            <li class="py-3 hover:bg-blue1 hover:text-white hover:font-bold pl-5">
                <a href="{{path('user_communicates')}}" class="text-xl flex justify-center">
                    <i class="w-2/12 py-1 fas fa-envelope border-r-2 border-black pr-4"></i>
                    <span class="w-9/12 pl-2">Discussions</span>
                </a>
            </li>
            <li class="py-3 hover:bg-blue1 hover:text-white hover:font-bold pl-5">
                <a href="{{ path('user_publication') }}" class="text-xl flex justify-center">
                    <i class="w-2/12 py-1 fas fa-folder-open border-r-2 border-black pr-4"></i>
                    <span class="w-9/12 pl-2">Collection de publications</span>
                </a>
            </li>
            <li class="py-3 hover:bg-blue1 hover:text-white hover:font-bold pl-5">
                <a href="{{ path('add_publication') }}" class="text-xl flex justify-center">
                    <i class="w-2/12 py-1 fas fa-plus-square border-r-2 border-black pr-4"></i>
                    <span class="w-9/12 pl-2">Ajouter une publication</span>
                </a>
            </li>
            <li class="py-3 hover:bg-blue1 hover:text-white hover:font-bold pl-5">
                <a href="{{ path('create_event') }}" class="text-xl flex justify-center">
                    <i class="w-2/12 py-1 fas fa-calendar-week border-r-2 border-black pr-4"></i>
                    <span class="w-9/12 pl-2">Créer un événement</span>
                </a>
            </li>
            <li class="py-3 hover:bg-blue1 hover:text-white hover:font-bold pl-5">
                <a href="{{ path('app_logout') }}" class="text-xl flex justify-center">
                    <i class="w-2/12 py-1 fas fa-share border-r-2 border-black pr-4"></i>
                    <span class="w-9/12 pl-2">Déconnexion</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- ./Sidebar -->