{% extends 'base.html.twig' %}

{% block title %}Amis !{% endblock %}

{% block body %}

    <section class="w-full">
        <div class="w-full h-1/5 bg-blue1 shadow-lg py-16">
            <h1 class="text-center font-bold text-5xl text-white">Vos demandes d'amis</h1>
            <div class="mx-auto h-px w-40 bg-white mt-8"></div>
        </div>

        <div class="flex">

            <div class="w-3/12 min-h-screen bg-blue2 border-blue1 border-r">
                <div class="w-full">
                    {% include "partials/siderbar.html.twig" %}
                </div>
            </div>

            <div class="w-full px-40">

                <div class="mt-20">
                    <h1 class="px-2 text-xl font-semibold">Ajouter des amis :</h1>
                    <div class="bg-blue1 w-full h-12 mt-2 py-2 px-6 shadow-lg">
                        <form action="{{ path('user_invitations') }}" method="get" class="w-full">
                            <div class="flex justify-end">
                                <input type="text" class="form-control w-2/6 border border-black py-1" name="search" placeholder="Rechercher...">
                                <div class="input-group-append bg-white w-10 border border-black">
                                    <button class="btn btn-secondary" type="submit"><i class="fa fa-search ml-2 py-2"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                    {% if search is defined %}
                        <p>Résultats pour "{{ search }}" :</p>
                    {% endif %}
                    {% if userFilter is not empty %}
                        <table class="w-full shadow-lg">
                            <tbody class="divide-y divide-gray-700 bg-gray-300">
                            {% for item in userFilter %}
                                <tr class="hover:bg-gray-200 text-black">
                                    <td class="px-4 py-3">
                                        <a target="_blank" rel="noreferrer noopener" href="{{ path('profile_view', {'username': item.username }) }}">
                                            {{ item.lastname }}
                                        </a>
                                    </td>
                                    <td class="px-4 py-3">
                                        {{ item.firstname }}
                                    </td>
                                    <td class="px-4 py-3">
                                        {{ item.username }}
                                    </td>
                                    <td class="px-4 py-3 text-black">
                                        <a onclick="confirm('Ajouter cet utilisateur à vos amis ?')" class="ml-8" href="{{ path('user_add_friend', {'idUserReceive': item.id, 'idUserSender': app.user.id}) }}"><i class="fas fa-user-plus pr-4"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <div class="mt-2 px-5">
                            <p class="text-grey4 font-semibold">Aucun utilisateur trouvé.</p>
                        </div>
                    {% endif %}
                    {% for message in app.flashes('Erreur') %}
                        <div class="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>

                <div class="mt-20">
                    <h1 class="px-2 text-xl font-semibold">Vos demandes :</h1>
                    <div class="bg-blue1 w-full h-12 mt-2 py-2 px-6 shadow-lg">
                    </div>
                    <table class="w-full ">
                        <tbody class="divide-y divide-gray-700 bg-gray-300">
                        {% for request in userRequest %}
                            <tr class="hover:bg-gray-200 text-black">
                                <td class="px-4 py-3 w-1/6">
                                    <a target="_blank" rel="noreferrer noopener" href="{{ path('profile_view', {'username': request.userSender.username }) }}">
                                        {{request.userSender.username}}
                                    </a>
                                </td>
                                <td class="px-4 py-3 w-1/6">
                                    <a target="_blank" rel="noreferrer noopener" href="{{ path('profile_view', {'username': request.userSender.username }) }}">
                                        {{request.userSender.firstname}}
                                    </a>
                                </td>
                                <td class="px-4 py-3 w-1/6">
                                    <a target="_blank" rel="noreferrer noopener" href="{{ path('profile_view', {'username': request.userSender.username }) }}">
                                        {{request.userSender.lastname}}
                                    </a>
                                </td>
                                <td class="px-4 py-3 w-1/12">
                                    <a onclick="confirm('Accepter la demande ?')" class="ml-8" href="{{ path('user_accepte_friend', {'idRelationShip': request.id}) }}"><i class="fas fa-user-check pr-4"></i></a>
                                </td>
                                <td class="px-4 py-3 w-1/12">
                                    <a onclick="confirm('Supprimer la demande ?')" class="ml-8" href="{{ path('user_delete_friend', {'idRelationShip': request.id}) }}"><i class="fas fa-times pr-4"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        {% for message in app.flashes('success') %}
                            <div class="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </table>

                </div>

            </div>
        </div>

    </section>

{% endblock %}
