{% extends 'base.html.twig' %}

{% block title %}Ajouter une publication !{% endblock %}

{% block body %}
    <div class="w-6/12 overflow-x-auto text-black">
        {{ form_start(publicationForm) }}
        <div class="mb-4 mt-5">
            <div class="mb-4 md:mb-0 ">
                <label class="block mb-2 font-bold text-grey1" for="blog">
                    {{ form_row(publicationForm.title) }}
                </label>
            </div>
        </div>
        <div class="mb-4 mt-5">
            <div class="mb-4 md:mb-0 ">
                <label class="block mb-2 font-bold text-grey1" for="blog">
                    {{ form_row(publicationForm.description) }}
                </label>
            </div>
        </div>
        <div class="mb-4 mt-5">
            <div class="mb-4 md:mb-0 ">
                <label class="block mb-2 font-bold text-grey1" for="blog">
                    {{ form_row(publicationForm.state_private) }}
                </label>
            </div>
        </div>
        <div class="mb-4 mt-5">
            <div class="mb-4 md:mb-0 ">
                <label class="block mb-2 font-bold text-grey1" for="blog">
                    {{ form_row(publicationForm.theme) }}
                </label>
            </div>
        </div>
        <div class="mb-4 mt-5">
            <div class="mb-4 md:mb-0 ">
                <label class="block mb-2 font-bold text-grey1" for="blog">
                    {{ form_row(publicationForm.images) }}
                </label>
            </div>
        </div>
        <div class="w-full">
            <div class="mb-6 text-center ">
                {{ form_row(publicationForm.submit) }}
            </div>
        </div>
        {{ form_end(publicationForm) }}
    </div>
{% endblock %}
