{% extends 'base.html.twig' %}

{% block title %}Inscription - Ressources Relationnelles{% endblock %}

{% block body %}

<div class="relative min-h-screen flex">

    <div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0 bg-main-white">
        <div class="md:flex md:mt-10 md:justify-center w-full sm:w-auto md:h-full xl:w-2/5 sm:rounded-lg md:rounded-none bg-main-white ">
            <div class="max-w-md w-full space-y-8">
                <div class="text-center">
                    <h2 class="mt-6 text-3xl font-bold text-gray-900"> Formulaire d'inscription </h2>
                    <p class="mt-2 text-sm text-gray-500"> Veuillez saisir vos informations </p>
                </div>
                {% if notification != null %}
                    <p class="text-main-red text-center">L'email saisit est déjà enregistré sur le site !</p>
                {% endif %}
                {{ form_start(registerForm) }}

                <div id="identity_form">

                    <div class="flex items-center justify-center space-x-2">
                        <span class="h-px w-16 bg-gray-500"></span>
                        <span class="text-gray-700 font-normal">Votre identité</span>
                        <span class="h-px w-16 bg-gray-500"></span>
                    </div>

                    <div class="mt-5">
                        {{ form_row(registerForm.username) }}
                    </div>
                    <div>
                        {{ form_row(registerForm.first_name) }}
                    </div>
                    <div>
                        {{ form_row(registerForm.last_name) }}
                    </div>
                    <div>
                        {{ form_row(registerForm.birthday) }}
                    </div>
                    <div>
                        {{ form_row(registerForm.profile_picture) }}
                    </div>

                    <div class="inline-flex justify-around mt-6 w-full">
                        <a class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l" disabled>
                            Retour
                        </a>
                        <a id="identity_next_button" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r">
                            Suivant
                        </a>
                    </div>

                </div>

                <div id="coordinates_form" class="hidden">

                    <div class="flex items-center justify-center space-x-2">
                        <span class="h-px w-16 bg-gray-500"></span>
                        <span class="text-gray-700 font-normal">Vos coordonnées</span>
                        <span class="h-px w-16 bg-gray-500"></span>
                    </div>

                    <div class="mt-5">
                        {{ form_row(registerForm.postal_code) }}
                    </div>
                    <div>
                        {{ form_row(registerForm.city) }}
                    </div>
                    <div>
                        {{ form_row(registerForm.phone_number) }}
                    </div>

                    <div class="inline-flex justify-around mt-6 w-full">
                        <a id="coordinates_return_button" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l" disabled>
                            Retour
                        </a>
                        <a id="coordinates_next_button" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r">
                            Suivant
                        </a>
                    </div>

                </div>

                <div id="security_form" class="hidden">

                    <div class="flex items-center justify-center space-x-2">
                        <span class="h-px w-16 bg-gray-500"></span>
                        <span class="text-gray-700 font-normal">Vos informations de sécurité</span>
                        <span class="h-px w-16 bg-gray-500"></span>
                    </div>

                    <div class="mt-5">
                        {{ form_row(registerForm.email) }}
                    </div>
                    <div>
                        {{ form_row(registerForm.password) }}
                    </div>
                    <div>
                        {{ form_row(registerForm.submit) }}
                    </div>

                    <div class="inline-flex justify-around mt-6 w-full">
                        <a id="security_return_button" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l" disabled>
                            Retour
                        </a>
                        <a class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-r" disabled="">
                            Suivant
                        </a>
                    </div>

                </div>
                {{ form_end(registerForm) }}
            </div>
        </div>
        <div id="old_man_background" class="sm:w-1/2 xl:w-2/5 h-full hidden md:flex flex-auto items-center justify-start overflow-hidden bg-main-blue bg-no-repeat bg-cover relative" style="background-image: url('{{ asset('assets/media/old_man_phone.jpg') }}')";></div>
        <div id="man_background" class="sm:w-1/2 xl:w-2/5 h-full hidden md:flex flex-auto items-center justify-start overflow-hidden bg-main-blue bg-no-repeat bg-cover relative" style="display: none; background-image: url('{{ asset('assets/media/man_phone.jpg') }}')";></div>
        <div id="young_girl_background" class="sm:w-1/2 xl:w-2/5 h-full hidden md:flex flex-auto items-center justify-start overflow-hidden bg-main-blue bg-no-repeat bg-cover relative" style=" display: none; background-image: url('{{ asset('assets/media/young_girl_phone.jpg') }}')";></div>
    </div>
</div>

    <script>
        document.querySelector("#identity_next_button").addEventListener("click", function () {
            document.querySelector("#identity_form").style.display = "none";
            document.querySelector("#coordinates_form").style.display = "block";
            document.querySelector("#old_man_background").style.display = "none";
            document.querySelector("#man_background").style.display = "block";

        })

        document.querySelector("#coordinates_return_button").addEventListener("click", function() {
            document.querySelector("#coordinates_form").style.display = "none";
            document.querySelector("#identity_form").style.display = "block";
            document.querySelector("#man_background").style.display = "none";
            document.querySelector("#old_man_background").style.display = "block";
        })

        document.querySelector("#coordinates_next_button").addEventListener("click", function() {
            document.querySelector("#coordinates_form").style.display = "none";
            document.querySelector("#security_form").style.display = "block";
            document.querySelector("#man_background").style.display = "none";
            document.querySelector("#young_girl_background").style.display = "block";
        })

        document.querySelector("#security_return_button").addEventListener("click", function() {
            document.querySelector("#security_form").style.display = "none";
            document.querySelector("#coordinates_form").style.display = "block";
            document.querySelector("#young_girl_background").style.display = "none";
            document.querySelector("#man_background").style.display = "block";
        })
    </script>

{% endblock %}


