<div class="fixed flex flex-col w-1/6 left-0 bg-blue1 dark:bg-gray-900 min-h-screen text-white transition-all duration-300 border-none z-10 sidebar">
    <p class="text-4xl mx-auto mt-4">Administration</p>
    <div class="overflow-y-auto overflow-x-hidden flex flex-col justify-between flex-grow">
        <ul class="flex flex-col py-4 space-y-1">
            <li class="mt-3">
                <a href="{{ path('admin_dashboard') }}" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue1 text-white-600 hover:text-white-800 hover:border-blue-500 pr-6 {% if current_menu is defined and current_menu == 'dashboard' %}border-l-4 lg:border-l-2 lg:border-2 border-white{% else %}border-transparent{% endif %}">
                <span class="inline-flex justify-center items-center ml-4">
                    <i class="fas fa-home"></i>
                </span>
                    <span class="ml-2 text-sm tracking-wide truncate">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin_users') }}" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue1 text-white-600 hover:text-white-800 hover:border-blue-500 pr-6 {% if current_menu is defined and current_menu == 'users' %}border-l-4 lg:border-l-2 lg:border-2 border-white{% else %}border-transparent{% endif %}">
                <span class="inline-flex justify-center items-center ml-4">
                    <i class="fas fa-user-graduate"></i>
                </span>
                    <span class="ml-2 text-sm tracking-wide truncate">Utilisateurs</span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin_user_validated') }}" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue1 text-white-600 hover:text-white-800 hover:border-blue-500 pr-6 {% if current_menu is defined and current_menu == 'users' %}border-l-4 lg:border-l-2 lg:border-2 border-white{% else %}border-transparent{% endif %}">
                <span class="inline-flex justify-center items-center ml-4">
                    <i class="fas fa-user-check"></i>
                </span>
                    <span class="ml-2 text-sm tracking-wide truncate">Utilisateurs à vérifier</span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin_user_reported') }}" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue1 text-white-600 hover:text-white-800 hover:border-blue-500 pr-6 {% if current_menu is defined and current_menu == 'users' %}border-l-4 lg:border-l-2 lg:border-2 border-white{% else %}border-transparent{% endif %}">
                <span class="inline-flex justify-center items-center ml-4">
                    <i class="fas fa-user-alt-slash"></i>
                </span>
                    <span class="ml-2 text-sm tracking-wide truncate">Utilisateurs signalé</span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin_publication') }}" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue1 text-white-600 hover:text-white-800 hover:border-blue-500 pr-6 {% if current_menu is defined and current_menu == 'blogs' %}border-l-4 lg:border-l-2 lg:border-2 border-white{% else %}border-transparent{% endif %}">
                <span class="inline-flex justify-center items-center ml-4">
                    <i class="fas fa-file-word"></i>
                </span>
                    <span class="ml-2 text-sm tracking-wide truncate">Ressources à valider</span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin_event') }}" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue1 text-white-600 hover:text-white-800 hover:border-blue-500 pr-6 {% if current_menu is defined and current_menu == 'blogs' %}border-l-4 lg:border-l-2 lg:border-2 border-white{% else %}border-transparent{% endif %}">
                <span class="inline-flex justify-center items-center ml-4">
                    <i class="fas fa-calendar-week"></i>
                </span>
                    <span class="ml-2 text-sm tracking-wide truncate">Evénements à confirmer</span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin_comments') }}" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue1 text-white-600 hover:text-white-800 hover:border-blue-500 pr-6 {% if current_menu is defined and current_menu == 'contact' %}border-l-4 lg:border-l-2 lg:border-2 border-white{% else %}border-transparent{% endif %}">
                <span class="inline-flex justify-center items-center ml-4">
                    <i class="fas fa-comment"></i>
                </span>
                    <span class="ml-2 text-sm tracking-wide truncate">Commentaires signalé</span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin_category') }}" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue1 text-white-600 hover:text-white-800 hover:border-blue-500 pr-6 {% if current_menu is defined and current_menu == 'contact' %}border-l-4 lg:border-l-2 lg:border-2 border-white{% else %}border-transparent{% endif %}">
                <span class="inline-flex justify-center items-center ml-4">
                    <i class="fas fa-wallet"></i>
                </span>
                    <span class="ml-2 text-sm tracking-wide truncate">Catégories</span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin_themes') }}" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue1 text-white-600 hover:text-white-800 hover:border-blue-500 pr-6 {% if current_menu is defined and current_menu == 'contact' %}border-l-4 lg:border-l-2 lg:border-2 border-white{% else %}border-transparent{% endif %}">
                <span class="inline-flex justify-center items-center ml-4">
                    <i class="fas fa-edit"></i>
                </span>
                    <span class="ml-2 text-sm tracking-wide truncate">Thèmes</span>
                </a>
            </li>
            <li>
                <a href="{{ path('homepage') }}" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue1 text-white-600 hover:text-white-800 hover:border-blue-500 pr-6 {% if current_menu is defined and current_menu == 'contact' %}border-l-4 lg:border-l-2 lg:border-2 border-white{% else %}border-transparent{% endif %}">
                    <span class="inline-flex justify-center items-center ml-4">
                        <i class="fas fa-paper-plane"></i>
                    </span>
                    <span class="ml-2 text-sm tracking-wide truncate" >Page d'acceuil </span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- ./Sidebar -->