{% extends 'base.html.twig' %}

{% block title %}Gestion des groupes !{% endblock %}

{% block body %}
    <div class="flex w-10/12 mx-auto  justify-between mt-10">
        <div class="w-5/12 "> 
            <h1 class="text-center font-bold text-3xl text-black underline">Création des groupes</h1>
            <div class="flex justify-center mt-10">
                <div class="w-5/6 border border-blue1 shadow-lg px-10 py-10 bg-white mb-8">
                    {{ form_start(groupForm) }}
                    <div class="flex">
                        <div class="w-2/3">
                            {{ form_row(groupForm.name) }}
                        </div>
                        <div class="w-1/3 flex justify-end">
                            {{ form_row(groupForm.submit) }}
                        </div>
                    </div>
                    {{ form_end(groupForm) }}
                </div>
            </div>
        </div>
    </div>
    <div class="flex w-full mx-auto justify-between mt-10 text-center">
        <div class="w-5/12 border h-full"> 
            <table class="w-full">
                <thead>
                    <tr class="font-extrabold tracking-wide text-left uppercase border-b bg-blue1 text-black dark:text-white">
                        <th class="px-4 py-3" colspan="2">Liste de vos groupes :</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-700 bg-gray-800">
                    {% for directedGroup in userSupervisorGroups %}
                        <tr class="bg-blue2 text-black">
                            <td class="px-4 py-3">
                                <a href="{{ path('user_show_participant_group', {'idGroup': directedGroup.groupe.id}) }}">
                                    {{ directedGroup.groupe.name }}
                                </a>
                            </td>
                            <td class="px-4 py-3">
                                <a href="{{ path('user_delete_group', {'idGroup': directedGroup.groupe.id}) }}">
                                    <i class="fas fa-users-slash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="w-5/12 border h-full">
            <table class="w-full">
                <thead>
                    <tr class="font-extrabold tracking-wide text-left uppercase border-b bg-blue1 text-black dark:text-white">
                        <th class="px-4 py-3" colspan="3">
                            Liste des participants du groupe :
                            {% if groupSelected %}
                                {{groupSelected.name}}
                            {% endif %}
                        </th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-700 bg-gray-800">
                    {% for userNoSupervisor in userInGroupe %}
                        <tr class="bg-blue2 text-black">
                            <td class="px-4 py-3" colspan="3" >
                                <a href="{{ path('user_delete_participant_group', {'idUserBelongGroup': userNoSupervisor.id}) }}">
                                    {{userNoSupervisor.user.username}}
                                </a>
                                <a href="{{ path('user_delete_participant_group', {'idUserBelongGroup': userNoSupervisor.id}) }}">
                                    <i class="fas fa-user-minus"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="w-5/12 border h-full">
            <table class="mx-auto w-full">
                <thead>
                    <tr class="font-extrabold tracking-wide text-left uppercase border-b bg-blue1 text-black dark:text-white">
                        <th class="px-4 py-3" colspan="3">
                            Ajouter l'un de vos amis au groupe :
                            {% if groupSelected %}
                                {{groupSelected.name}}
                            {% endif %}
                        </th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-700 bg-gray-800">
                    {% for friends in userFriends %}
                        <tr class="bg-blue2 text-black">
                            <td class="px-4 py-3" colspan="3">
                                {% if groupSelected %}   
                                    {% if friends.userSender.id != app.user.id %}
                                        <a href="{{ path('user_add_participant_group', {'idGroup': groupSelected.id, 'idUser': friends.userSender.id}) }}">
                                            {{friends.userSender.username}}
                                        </a>
                                        <a href="{{ path('user_add_participant_group', {'idGroup': groupSelected.id, 'idUser': friends.userSender.id}) }}">
                                            <i class="fas fa-user-plus"></i>
                                        </a>
                                    {% elseif friends.userReceive.id != app.user.id %}
                                        <a href="{{ path('user_add_participant_group', {'idGroup': groupSelected.id, 'idUser': friends.userSender.id}) }}">
                                            {{friends.userReceive.username}}
                                        </a>
                                        <a href="{{ path('user_add_participant_group', {'idGroup': groupSelected.id, 'idUser': friends.userSender.id}) }}">
                                            <i class="fas fa-user-plus"></i>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% for message in app.flashes('success') %}
        <div class="alert z-10 bg-green-300 absolute mx-auto">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert z-10 bg-red-300 absolute mx-auto">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
